<%= form_for [@restaurant, @rating] do |f| %>
<p>
<%= f.label :rating %><br>
<%= f.text_field :rating %>
</p>
<p>
<%= f.label :description %> <br>
<%= f.text_area :body %>
</p>

<%=f.submit "Submit Rating"%>
<% end %>
